@font-face {
    font-family: "Raleway";
    font-weight: 800;
    src: url("../fonts/Raleway-ExtraBold.woff") format("woff2"),
         url("../fonts/Raleway-ExtraBold.woff2") format("woff");
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    src: url("../fonts/Lato-Regular.woff") format("woff2"),
         url("../fonts/Lato-Regular.woff2") format("woff");
}

@font-face {
    font-family: "Lato";
    font-weight: 600;
    src: url("../fonts/Lato-SemiBold.woff") format("woff2"),
         url("../fonts/Lato-SemiBold.woff2") format("woff");
}

@font-face {
    font-family: "Lato";
    font-weight: 700;
    src: url("../fonts/Lato-Bold.woff") format("woff2"),
         url("../fonts/Lato-Bold.woff2") format("woff");
}